<div class="container">
  <h1 class="title">Thank you!</h1>
  <p class="content">Your order is on the way!</p>
  <span>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin, neque eget ultricies luctus,
    risus nulla gravida nibh, eu convallis tortor nulla vitae sapien. Orci varius natoque penatibus et magnis dis
    parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
    per inceptos himenaeos. In ut semper felis, ut dignissim nibh. Mauris pellentesque a velit a malesuada.
    Nam rutrum purus sem, ut posuere neque pretium non. In at cursus urna. Proin sit amet enim ac justo lacinia
    condimentum non vitae ligula. Fusce mattis lorem eget facilisis sollicitudin.
    Mauris consequat a orci non scelerisque. Praesent ullamcorper rutrum molestie. Curabitur et aliquam massa,
    et elementum velit. Etiam feugiat, erat sit amet rutrum sollicitudin, diam dui vehicula dui, ut aliquam elit
    tellus vitae lorem. Vestibulum rutrum ultricies risus ut accumsan. Vivamus sed sapien mauris. Cras dignissim est
    id ullamcorper placerat. Nunc venenatis quam id tincidunt viverra. Maecenas eleifend.
  </span>
</div>
